body {
    font: 14px "Century Gothic", Futura, sans-serif;
}
ol, ul {
    padding-left: 30px;
}
.principal-page {
    align-items: center;
    background-color: #312E2B;
    width: 1080px;
    height: 660px;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
.game {
    display: flex;
    flex-direction: row;
}
.game-board {
    margin: 10px;
}
/*Colores*/
.white-txt{
    color: white;
}
.black-txt {
    color: black;
}
.white-bg {
    background-color: white;
}
.green-bg {
    background-color:#85AA53;
}
/*Diseño de los cuadros del tablero*/
.square {
    width: 80px;
    height: 80px;
    background: #F1F1DB;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    text-align: center;
}
.black {
    background-color: #91AB78;
}

.square:focus {
    outline: none;
}
.kbd-navigation .square:focus {
    background: #ddd;
}
/*Diseño del sector de vision*/
.general-container {
    height: 640;
    width: auto;
    background-color: #1F1E1B;
    margin: 10px;
    border-radius: 5px;
}
.vision-panel {
    height: 70px;
    width: 400px;
    font-size: 20px;
    font-weight: 750;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*Diseño del boton Start*/
.button-container {
    height: 100px;
    width: auto;
    background-color: #21201D;
    align-items: center;
    align-content: center;
}
.button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 800;
    background-color: #95BB4A;
}
/*Diseño del timer y puntuación*/
.timer {
    color:white;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    margin-top: 10%;
    float: right;
}
.timer-container {
    width: 400px;
    height: 100px;
}
.img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px;
}
.points {
    color: white;
    float: left; 
    margin-top:10%;
}